body {
  /* background: linear-gradient(135deg, rgb(50, 3, 3), rgb(0, 0, 0)) */
  background-color:rgb(50, 3, 3)

}

.App {
  margin: 1px;
  padding: 1px;
}

.spells-div{
  background-color: rgb(66, 85, 39);
}

.houses-div{
  background-color: rgb(68, 47, 19);
}

.houses-grid{
  display: grid;
}