body {
  background: linear-gradient(0.25turn, rgb(50, 3, 3), rgb(0, 0, 0));
  color:white;
}

.App {
  margin: 1px;
  padding: 1px;
}

.spells-div{
  
}

.random-house-div{

}

.random-house-h1{
font-size: 40px;
color:white;

}

.random-house-btn{

}

.houses-div{
background-color: rgb(50,11, 11);
display: flex;
flex-direction: column;
text-align: center;
margin: auto;
}

.houses-container{
padding-left: 20%;
padding-right: 20%;  
}

.sorting-hat-img{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  
}

.spells-h2{
  display: flex;
  flex-direction: column; 
  text-align: center;
  background-color: rgb(50,11, 11);
  margin-right: 400px;
  margin-left:  400px;
}

.spells-img{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

.house-name-h2{
  font-weight: bold;
}

button {
  padding: 0.5em 1.2em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #8d8111;
  transition: all 0.2s ease;
  font-weight: 700;
}

button:hover {
  background-color: #686918;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 1em;
  padding: 0.5em;
}

.card {
  border-radius: 40px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  background-color: rgb(50,11, 11);
  margin: 10px;
  margin-right:200px;
  margin-left: 200px;
}

.card button {
  border-radius: 8px;
  margin:auto;
}

.card img {
  border-radius: 4px 4px 0 0;
}

.card,
.content {
  color: #e0e0e0;
}

.details .content {
  /* padding: 1em 0; */
  text-align: center;
}

.details button {
  margin: 1em;
}

.details img {
  width: 100%;
}

.title {
  color: white;
}